#Home, #Nosotros, #Noticias {
    color: #4667AC;
}
.navbar-brand {
    text-decoration-color: white;
    background-image: url(../img/logo.png);
    background-size: 100%;
    padding: 23px;
}
.navbar-brand p {
    color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: white;
}
.navbar-header {
    background-color: white;
}
.panel-default {
    border: none;
    box-shadow: none;
}
.panel-body {
    padding: 0;
}
.index .thumbnail img {
    border-radius: 5px;
}
.index .thumbnail {
    box-shadow: none;
    border-color: transparent;
}
.index .thumbnail p, .index .thumbnail h3 {
    text-align: center;
}
.index .thumbnail h3 {
    color: #4667AC;
}
.main a {
    text-decoration: none;
}
@media only screen and (max-width: 470px) {
    .item h2 {
        font-size: 20px;
    }
}
@media only screen and (min-width: 471px) {
    .item h2 {
        font-size: 40px;
    }
}
/*forma de contacto!*/

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.formulario {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/*blog*/

.col-md-8 .article {
    border-right: solid 3px #eee;
    padding-right: 25px;
}
#voluntariado {
    border-bottom: solid 3px #eee;
    padding-bottom: 20px;
}
.noticias .header h2 {
    margin-top: 60px;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.panel-footer {
    text-align: center;
}
#somos {
    border: solid 2px #eee;
    border-radius: 6px;
    padding: 0 20px 10px 20px;
    margin-top: 80px;
}
#somos h2, #organizacion h3, #consejo h3, #comite h3, #directorio h3, #administracion h3, #voluntario h3 {
    text-align: center;
    color: #4667AC;
}
#consejo p {
    text-align: center;
}
#comite p {
    text-align: center;
}
#directorio p {
    text-align: center;
}
#administracion p {
    text-align: center;
}